//META{"name":"Kaynooo glass theme","description":"It's just my own theme, because no other theme are good","author":"Kaynooo","version":"BETA","authorId":"258334777046859776"}*//{}
/*
 __      ___ _                     _      _____ _               
 \ \    / (_) |                   | |    / ____| |              
  \ \  / / _| |__  _ __ __ _ _ __ | |_  | |  __| | __ _ ___ ___ 
   \ \/ / | | '_ \| '__/ _` | '_ \| __| | | |_ | |/ _` / __/ __|
    \  /  | | |_) | | | (_| | | | | |_  | |__| | | (_| \__ \__ \
     \/   |_|_.__/|_|  \__,_|_| |_|\__|  \_____|_|\__,_|___/___/

*/

@import url("https://raw.githack.com/Kayno0o/vibrant-glass-theme/main/glass_remote.theme.css");

/* DEFINE MAIN VARIABLES */
.theme-dark {
    --window-name: "Eadlyn x Kaynooo ❤";
    --opacity: 0.5;
    --background-url: "https://cdn.discordapp.com/attachments/696040243748536401/850445513542205531/1-IrFMpUu.png";
}