/**
    * @name Vibrant Glass
    * @version 1.0
    * @description It's just my own theme, because no other theme are good
    * @author Kaynooo#8080
    *
    * @source https://github.com/Kayno0o/vibrant-glass-theme
    * @invite XhPKd5x7Fz
**/

/*
 __      ___ _                     _      _____ _               
 \ \    / (_) |                   | |    / ____| |              
  \ \  / / _| |__  _ __ __ _ _ __ | |_  | |  __| | __ _ ___ ___ 
   \ \/ / | | '_ \| '__/ _` | '_ \| __| | | |_ | |/ _` / __/ __|
    \  /  | | |_) | | | (_| | | | | |_  | |__| | | (_| \__ \__ \
     \/   |_|_.__/|_|  \__,_|_| |_|\__|  \_____|_|\__,_|___/___/

*/

@import url("https://raw.githack.com/Kayno0o/vibrant-glass-theme/main/glass_remote.theme.css");

/*
to customize rgb color : https://www.google.com/search?q=color+picker and copy the RGB thing
to create custom gradient : https://cssgradient.io/ and copy the linear-gradient
*/

/* DEFINE MAIN VARIABLES */

.theme-dark {
    /*
    name of the Discord window (top left)
    default : "Vibrant glass" */
    --window-name: "Eadlyn x Kaynooo â¤";
    /*
    color of the Discord window name
    default : rgb(255, 255, 255) */
    --window-name-color: rgb(255, 255, 255);
    /*
    opacity, but lighter
    default : 0.2 */
    --light-opacity: 0.2;
    /*
    opacity used everywhere to make this glass effect 
    default : 0.5 */
    --opacity: 0.5;
    /*
    opacity, but darker
    default : 0.75 */
    --dark-opacity: 0.75;
    /*
    it's just the Discord background URL, it has to be a direct link (ending with .png, .jpg, .gif)
    default : url('https://cdn.discordapp.com/attachments/696040243748536401/850445513542205531/1-IrFMpUu.png') */
    --background-url: url('https://cdn.discordapp.com/attachments/696040243748536401/850445513542205531/1-IrFMpUu.png');
    /*
    used for when someone talk, or when you are focusing the message/note textarea on a profile
    default : linear-gradient(135deg, rgba(255, 0, 0, 1) 0%, rgba(255, 162, 0, 1) 20%, rgba(255, 248, 0, 1) 40%, rgba(0, 255, 64, 1) 60%, rgba(0, 31, 255, 1) 80%, rgba(98, 0, 255, 1) 100%) */
    --rainbow-gradient: linear-gradient(135deg, rgba(255, 0, 0, 1) 0%, rgba(255, 162, 0, 1) 20%, rgba(255, 248, 0, 1) 40%, rgba(0, 255, 64, 1) 60%, rgba(0, 31, 255, 1) 80%, rgba(98, 0, 255, 1) 100%);
    /*
    gradient width
    default : 1*/
    --rainbow-gradient-width: 1px;
    /*
    background color used for opacity
    default : 0, 0, 0 */
    --background-color: 0, 0, 0;
}

/* BACKGROUND */

.app-2rEoOp>.bg-h5JY_x {
    background: var(--background-url) !important;
    background-size: cover !important;
}