/**
    * @name Vibrant Glass
    * @version 1.1
    * @description Simple customizable glass theme.
    * @author Kaynooo#8080
    *
    * @source https://github.com/Kayno0o/vibrant-glass-theme
**/

/*
 __      ___ _                     _      _____ _               
 \ \    / (_) |                   | |    / ____| |              
  \ \  / / _| |__  _ __ __ _ _ __ | |_  | |  __| | __ _ ___ ___ 
   \ \/ / | | '_ \| '__/ _` | '_ \| __| | | |_ | |/ _` / __/ __|
    \  /  | | |_) | | | (_| | | | | |_  | |__| | | (_| \__ \__ \
     \/   |_|_.__/|_|  \__,_|_| |_|\__|  \_____|_|\__,_|___/___/

*/

@import url("https://raw.githack.com/Kayno0o/vibrant-glass-theme/main/glass_remote.theme.css");

/*
to customize rgb color : https://www.google.com/search?q=color+picker and copy the RGB thing
to create custom gradient : https://cssgradient.io/ and copy the linear-gradient
*/

/* DEFINE MAIN VARIABLES */

.theme-dark {
    /*
    name of the Discord window (top left)
    default : "Vibrant Glass" */
    --window-name: "Vibrant Glass";
    /*
    color of the Discord window name
    default : rgb(255, 255, 255) */
    --window-name-color: rgb(255, 255, 255);
    /*
    opacity, but lighter
    default : 0.2 */
    --light-opacity: 0.2;
    /*
    opacity used everywhere to make this glass effect 
    default : 0.5 */
    --opacity: 0.5;
    /*
    opacity, but darker
    default : 0.75 */
    --dark-opacity: 0.75;
    /*
    it's just the Discord background URL, it has to be a direct link (ending with .png, .jpg, .gif)
    default : url('https://cdn.discordapp.com/attachments/696040243748536401/850445513542205531/1-IrFMpUu.png') */
    --background-url: url('https://cdn.discordapp.com/attachments/696040243748536401/850445513542205531/1-IrFMpUu.png');
    /*
    background color used for opacity
    default : 0, 0, 0 */
    --background-color: 0, 0, 0;
}

/* BACKGROUND */

.app-2CXKsg>.bg-1QIAus {
    background: var(--background-url) !important;
    background-size: cover !important;
}
